

.splash-screen-wrapper .splashTitle h1{
   color: #ff96c8 ;
   font-size: 160px;
   opacity: 0;
}

.splash-screen-wrapper .splashTitle{
    margin-top: -100px;
    
}

.splash-screen-wrapper .splash-content .subtitle{
    color: #ff96c8 ;
    font-size: 40px;
    margin-top: -50px;
    font-weight: 100;
    animation: fadeUp 0.5s  forwards;
    animation-delay: 1.3s;
    opacity: 0;
}

.splash-screen-wrapper .splashTitle h1:nth-child(1){
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0.1s;

}

.splash-screen-wrapper .splashTitle h1:nth-child(2){
    animation: fadeIn 0.5s  ease-in forwards;
    animation-delay: 0.2s;
}

.splash-screen-wrapper .splashTitle h1:nth-child(3){
    animation: fadeIn 0.5s ease-in forwards;

    animation-delay: 0.3s;
}

.splash-screen-wrapper .splashTitle h1:nth-child(4){
    animation: fadeIn 0.5s ease-in forwards;

    animation-delay: 0.4s;
}
.splash-screen-wrapper .splashTitle h1:nth-child(5){
    animation: fadeIn 0.5s ease-in forwards;

    animation-delay: 0.5s;
}
.splash-screen-wrapper .splashTitle h1:nth-child(6){
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0.6s;
}
.splash-screen-wrapper .splashTitle h1:nth-child(7){
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0.7s;

}

.splash-screen-wrapper .splashTitle h1:nth-child(8){
    animation: fadeIn 0.5s  ease-in forwards;
    animation-delay: 0.8s;
}

.splash-screen-wrapper .splashTitle h1:nth-child(9){
    animation: fadeIn 0.5s ease-in forwards;

    animation-delay: 0.9s;
}

.splash-screen-wrapper .splashTitle h1:nth-child(10){
    animation: fadeIn 0.5s ease-in forwards;

    animation-delay: 1s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: 0px;
    }
    30% {
        opacity: 1;
        margin-top: 40px;}
    70% {
        opacity: 1;
        margin-top: 15px;}
    100% {
        opacity: 1;
        margin-top: 20px;}
}

@keyframes fadeUp{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: -70px;}
}

@keyframes fadeUpMB{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: -200px;}
}


@media screen and (max-width: 768px) {
    .splash-screen-wrapper .splashTitle h1{
        font-size: 50px;
    }
    .splash-screen-wrapper .splashTitle{
        margin-top: -50px;
    }
    .splash-screen-wrapper .splash-content .subtitle{
        font-size: 18px;
        margin-top: -190px;
        animation:fadeUpMB  0.5s  forwards;
        animation-delay: 1.3s;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .splash-screen-wrapper .splashTitle h1{
        font-size: 70px;
    }
    .splash-screen-wrapper .splashTitle{
        margin-top: -30px;
    }
    .splash-screen-wrapper .splash-content .subtitle{
        font-size: 25px;
        margin-top: -180px;
        animation:fadeUpMB  0.5s  forwards;
        animation-delay: 1.3s;
    }
}